@using System.Collections.Generic
@using Microsoft.AspNetCore.Mvc.Rendering
@model IEnumerable<hhs_p6_webshop_project.Models.ProductModels.ColorOption>

@{
    ViewData["Title"] = "Alle kleuren";
}

<h2>Alle kleuren</h2>

<p>
    <a asp-action="Create">Maak nieuwe aan</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Color)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product.Name)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Color)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ColorOptionId">Bewerk</a> |
                <a asp-action="Details" asp-route-id="@item.ColorOptionId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ColorOptionId">Verwijder</a>
            </td>
        </tr>
}
    </tbody>
</table>
