@using System.Threading.Tasks
@model hhs_p6_webshop_project.Models.ProductModels.Product


<link rel="stylesheet" href="~/lib/lightbox2/dist/css/lightbox.min.css"/>
<link href="~/css/products.css" rel="stylesheet"/>

<script src="~/lib/lightbox2/dist/js/lightbox.min.js"></script>
<script src="~/js/product-details.js"></script>

@{
    ViewData["Title"] = "Product - " + Model.Name;
    ViewData["PinkBackground"] = true;
}

<div class="single-container container">
    <div class="row">
        @if (User.Identity.IsAuthenticated)
        {
            <div class="product-buttons">
                <div class="product-button">
                    @Html.ActionLink("Nog een kleur toevoegen", "Create", "ColorOptions", new {id = Model.ProductId}, new {@class = "btn"})
                </div>
                <div class="product-button">
                    <a asp-action="Edit" asp-route-id="@Model.ProductId" class="btn">Bewerk</a>
                </div>
                <div class="product-button">
                    @Html.ActionLink("Nog een foto toevoegen", "Create", "ProductImages", new {id = Model.ProductId}, new {@class = "btn"})
                </div>
                <div class="product-button">
                    <a href="" class="btn delete-color-btn" style="display: none;">Verwijder kleur</a>
                </div>
            </div>
        }
        <div class="back-to-dress-finder">
            <a asp-action="Index"><img src="/images/products/white-arrow-back.png" alt="<"/>Terug naar overzicht</a>
        </div>
    </div>
    <div class="row product-details">
        <div class="col-sm-12 col-md-3">
            <div class="side-pictures row"></div>
            <!-- Placeholder -->
        </div>
        <div class="big-picture col-sm-12 col-md-6">
            <div class="vertical-align">
                <div class="horizontal-align">
                    <a href="" data-lightbox="dress-images">
                        @*src is loaded with ajax*@
                        <img src="" alt=""/>
                    </a>
                </div>
            </div>
        </div>
        <div class="product-information-container col-sm-12 col-md-3">
            <div class="product-information">
                <h4>@Model.Name</h4>
                <span>artikel nr. @Model.ProductId</span>
                <div class="product-information-undertext">
                    <p>
                        @Model.Description
                    </p>
                </div>
                <div class="product-information-attributes">
                    <p>
                        Prijsindicatie:
                        <span>&euro; @Model.Price</span>
                    </p>
                    <p>
                        Beschikbare kleuren:
                        <div class="product-colors">
                            @{
                                foreach (var color in Model.ColorOptions)
                                {
                                    <div id="color_@color.ColorOptionId" value="@color.ColorOptionId" class="color-circle @color.Color" title="@color.Color"></div>
                                }
                            }
                        </div>
                    </p>
                    <div class="product-make-appointment-container">
                        <p>Kom deze jurk passen!</p>
                        @Html.ActionLink("Pasafspraak maken", "Create", "Appointments", new
                        {
                            id = Model.ProductId
                        }, new
                        {
                            @id = "appointment-create-button",
                            @class = "btn"
                        })
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="additions-container col-sm-12">
            <hr class="additions"/>
            <span class="additions-text">Bijpassende sieraden</span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 col-sm-12 addition-item">
            <div class="addition-image">
                <div class="image-wrapper">
                    <img src="~/images/products/accessoire-1.jpg" alt=""/>
                </div>
            </div>
            <span>Abrazi</span>
        </div>
        <div class="col-md-3 col-sm-12 addition-item">
            <div class="addition-image">
                <div class="image-wrapper">
                    <img src="~/images/products/accessoire-2.jpg" alt=""/>
                </div>
            </div>
            <span>Abrazi</span>
        </div>
        <div class="col-md-3 col-sm-12 addition-item">
            <div class="addition-image">
                <div class="image-wrapper">
                    <img src="~/images/products/accessoire-1.jpg" alt=""/>
                </div>
            </div>
            <span>Abrazi</span>
        </div>
        <div class="col-md-3 col-sm-12 addition-item">
            <div class="addition-image">
                <div class="image-wrapper">
                    <img src="~/images/products/accessoire-2.jpg" alt=""/>
                </div>
            </div>
            <span>Abrazi</span>
        </div>
        <div class="col-sm-12 addition-button-wrap">
            <a asp-action="Index" class="btn addition-button">Bezoek de webshop</a>
        </div>
    </div>
    <div class="row">
        <div class="additions-container col-sm-12">
            <hr class="additions"/>
            <span class="additions-text">Of zijn deze jurken meer iets voor jou?</span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 col-sm-12 addition-item">
            <div class="addition-image">
                <div class="image-wrapper">
                    <img src="~/images/uploads/default/annabelle-2.jpg" alt=""/>
                </div>
            </div>
            <span>Maggie Sottero</span>
        </div>
        <div class="col-md-3 col-sm-12 addition-item">
            <div class="addition-image">
                <div class="image-wrapper">
                    <img src="~/images/uploads/default/ladybird-2.jpg" alt=""/>
                </div>
            </div>
            <span>Beautiful by Ensoani</span>
        </div>
        <div class="col-md-3 col-sm-12 addition-item">
            <div class="addition-image">
                <div class="image-wrapper">
                    <img src="~/images/uploads/default/ladybird-nude-1.jpg" alt=""/>
                </div>
            </div>
            <span>Ladybird</span>
        </div>
        <div class="col-md-3 col-sm-12 addition-item">
            <div class="addition-image">
                <div class="image-wrapper">
                    <img src="~/images/uploads/default/pronovias-wit-1.jpg" alt=""/>
                </div>
            </div>
            <span>Tres Chic</span>
        </div>
    </div>
</div>