@using Microsoft.CodeAnalysis.CSharp.Syntax
@using hhs_p6_webshop_project.Models.ProductViewModels;
@model ProductViewModel
<link href="~/css/products.css" rel="stylesheet" />
@{
    ViewData["Title"] = "Index";
    ViewData["PinkBackground"] = true;
}

<h2>Dressfinder</h2>

@if (User.Identity.IsAuthenticated) {
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}
<div class="container">
    <div class="row">
        <div class="col-md-3 col-sm-12">
            <code>
                Insert product filter here
            </code>
        </div>
        <div class="col-md-9 col-sm-12">
            <div class="row ">
                <div class="col-sm-12 product-overview-options">
                    <div>
                        <!-- TODO: Sorteren met deze button werkt nog niet -->
                        <strong class="select-label">
                            Sorteer op:
                        </strong>
                        <select>
                            <option>Prijs Hoog/Laag</option>
                            <option>Prijs Laag/Hoog</option>
                            <option>Naam oplopend</option>
                            <option>Naam aflopend</option>
                            <option>Populariteit</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row product-overview">
                @foreach (var item in Model.Products) {
                <div class="product col-md-4 col-sm-12">
                    <a asp-action="Details" asp-route-id="@item.ProductId">
                        <div class="vertical-align">
                            <div class="horizontal-align">
                                <img class="product-image" src="~/@Html.DisplayFor(modelItem => item.ProductTypes.First().Images.First().Path)" alt="@Html.DisplayFor(modelItem => item.Name)" />
                            </div>
                        </div>

                        <h5 class="product-title">
                            @Html.DisplayFor(modelItem => item.Name)
                        </h5>

                        <span class="product-sku">
                            <!-- TODO: Get the SKU -->
                            Artikel nr. 41704
                        </span>

                        <div class="product-colors">
                            <div class="color-circle"></div>
                            <div class="color-circle hm-pink-dark"></div>
                            <div class="color-circle hm-pink-light"></div>
                        </div>

                        @if (User.Identity.IsAuthenticated) {
                        <div class="product-edit-buttons">
                            <a class="btn" asp-action="Edit" asp-route-id="@item.ProductId">Edit</a>
                            <a class="btn" asp-action="Delete" asp-route-id="@item.ProductId">Delete</a>
                        </div>
                        }
                    </a>
                </div>
                }
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col col-md-12 col-full-width">
        <img class="img-full-width" src="~/images/dressfinder-banner.jpg" />
    </div>
</div>