@using System
@using System.Linq
@using hhs_p6_webshop_project.Models.ProductModels

@foreach (Product item in Model.Products)
{
    string itemColorType = item.ColorOptions?.First()?.Color ?? "Kleurloos";

    string imagePath = item.ColorOptions?.FirstOrDefault()?.Images?.FirstOrDefault()?.Path ?? "/images/default.jpg";

    <div class="product col-md-4 col-sm-12">
        <a asp-controller="Products" asp-action="Details" asp-route-id="@item.ProductId" asp-route-color="@itemColorType">
            <div class="vertical-align">
                <div class="horizontal-align">
                    <img class="product-image" src="@imagePath" alt="@item.Name"/>
                </div>
            </div>

            <h5 class="product-title">
                @item.Name
            </h5>

            <span class="product-sku">
                <!-- TODO: Get the SKU -->
                Artikel nr. @item.ProductId
            </span>

            <div class="product-colors">
                @{
                    foreach (var color in item.ColorOptions)
                    {
                        <span value="@color.ColorOptionId" class="color-circle @color.Color"></span>
                    }
                }
            </div>

            @if (User.Identity.IsAuthenticated)
            {
                <div class="product-edit-buttons">
                    <a class="btn" asp-controller="Products" asp-action="Edit" asp-route-id="@item.ProductId">Bewerk</a>
                    <a class="btn" asp-controller="Products" asp-action="Delete" asp-route-id="@item.ProductId">Verwijder</a>
                </div>
            }
        </a>
    </div>
}