@model hhs_p6_webshop_project.Models.NewsModels.NewsArticleVM

@{
    ViewData["Title"] = "Details";
    ViewData["PinkBackground"] = true;
}

<div class="text-banner">
    <h1 class="banner-bg-title-text hm-pink-light-text">@Model.NewsArticle.Name</h1>
    <h2 class="banner-title-text">@Model.NewsArticle.Excerpt</h2>
</div>

<div class="container single-article">
    <div class="col-xs-12">
        <img class="single-article-image" src="@Html.DisplayFor(model => model.NewsArticle.ImagePath)" alt="@Html.DisplayFor(model => model.NewsArticle.Name)" />
    </div>
    <div class="col-xs-12 col-md-offset-3 col-md-6 single-article-content">
        @Html.Raw(Model.NewsArticle.Content)
    </div>
</div>

@if (User.Identity.IsAuthenticated) {
    <div>
        <a asp-action="Edit" asp-route-id="@Model.NewsArticle.NewsArticleID">Bewerk</a> |
        <a asp-action="Index">Terug naar overzicht</a>
    </div>
}