@model hhs_p6_webshop_project.Models.NewsModels.NewsArticleVM

@{
    ViewData["Title"] = "Edit";
}


<script src="~/lib/tinymce-dist/tinymce.min.js"></script>
<script type="text/javascript">
    tinymce.init({
        selector: '.tinymce',  // change this value according to your HTML
    });
</script>

<h2>Edit</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>NewsArticle</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="@Model.NewsArticle.NewsArticleID" />
        <div class="form-group">
            <label asp-for="@Model.NewsArticle.Name" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="@Model.NewsArticle.Name" class="form-control" />
                <span asp-validation-for="@Model.NewsArticle.Name" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="@Model.NewsArticle.ImagePath" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="@Model.NewsArticle.ImagePath" class="form-control" />
                <span asp-validation-for="@Model.NewsArticle.ImagePath" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="@Model.NewsArticle.Excerpt" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <textarea asp-for="@Model.NewsArticle.Excerpt" class="form-control tinymce"></textarea>
                <span asp-validation-for="@Model.NewsArticle.Excerpt" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="@Model.NewsArticle.Content" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <textarea asp-for="@Model.NewsArticle.Content" class="form-control tinymce"></textarea>
                <span asp-validation-for="@Model.NewsArticle.Content" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="@Model.SelectedNewsCategories" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="@Model.SelectedNewsCategories" class="form-control" asp-items="@Model.NewsCategoriesList"></select>
                <span asp-validation-for="@Model.SelectedNewsCategories" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Terug naar overzicht</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
