@model IEnumerable<hhs_p6_webshop_project.Models.NewsModels.NewsArticleVM>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Maak nieuwe aan</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NewsArticle.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NewsArticle.Name)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.NewsArticle.NewsArticleID">Bewerk</a> |
                    <a asp-action="Details" asp-route-id="@item.NewsArticle.NewsArticleID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.NewsArticle.NewsArticleID">Verwijder</a>
                </td>
            </tr>
        }
    </tbody>
</table>
