@model IEnumerable<hhs_p6_webshop_project.Models.NewsModels.NewsArticleView>

@{
    ViewData["Title"] = "Blog - Artikelen";
}

@if (User.Identity.IsAuthenticated)
{
    <a class="btn" asp-action="Create">Maak nieuwe categorie aan</a>
    <a class="btn" asp-action="Create" asp-controller="NewsArticles">Maak nieuw artikel aan</a>
    <a class="btn" asp-action="Index" asp-controller="NewsArticles">Bekijk alle artikelen in lijst</a>
}

<h1>Alle artikelen</h1>
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NewsArticle.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NewsArticle.Excerpt)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NewsArticle.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NewsArticle.Excerpt)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.NewsArticle.NewsArticleID">Bewerk</a> |
                <a asp-action="Details" asp-route-id="@item.NewsArticle.NewsArticleID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.NewsArticle.NewsArticleID">Verwijder</a>
            </td>
        </tr>
    }
    </tbody>
</table>