@using System.Linq
@using hhs_p6_webshop_project.Models.BlogModels
@model hhs_p6_webshop_project.Models.BlogModels.BlogArticleViewModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>BlogArticle</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="@Model.BlogArticle.BlogArticleId" />
        <div class="form-group">
            <label asp-for="@Model.BlogArticle.ArticleText" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="@Model.BlogArticle.ArticleText" class="form-control" />
                <span asp-validation-for="@Model.BlogArticle.ArticleText" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="@Model.BlogArticle.ImagePath" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="@Model.BlogArticle.ImagePath" class="form-control" />
                <span asp-validation-for="@Model.BlogArticle.ImagePath" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="@Model.BlogArticle.Title" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="@Model.BlogArticle.Title" class="form-control" />
                <span asp-validation-for="@Model.BlogArticle.Title" class="text-danger" />
            </div>
        </div>

        <div class="form-group">
@*            <label asp-for="@Model.BlogArticle.BlogArticleCategories" class="col-md-2 control-label"></label>*@
            <div class="col-md-10 select-categories">
                <ul>
                    @{
                        foreach (var bc in Model.BlogCategories) {
                    <li>
                        @if (Model.ActiveBlogCategories.Contains(bc)) {
                                <input name="CategoryList" type="checkbox" checked="checked" value="@bc.BlogCategoryId" id="category_@bc.BlogCategoryId">

                        } else {
                                <input name="CategoryList" type="checkbox" value="@bc.BlogCategoryId" id="category_@bc.BlogCategoryId">
                        }

                        <label for="category_@bc.BlogCategoryId" class="no-user-select">@bc.Name</label>
                    </li>
                        }
                    }
                </ul>
            </div>
        </div>



        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
