<div id="admin_bar" class="hm-pink-dark">
    <ul id="admin_menu">
        <li>
            @Html.ActionLink("Maak afspraak", "Create", "Appointments")
        </li>
        <li>
            @Html.ActionLink("Bekijk afspraken", "Index", "Appointments")
        </li>
        <li>
            @Html.ActionLink("Uitloggen", "LogOut", "Account")
        </li>
        <li>
            @Html.ActionLink("Uitloggen", "LogOut", "Account")
        </li>
        <li>
            @Html.ActionLink("Uitloggen", "LogOut", "Account")
        </li>
    </ul>
</div>