@using Microsoft.AspNetCore.Mvc.Rendering
<div id="admin_bar" class="hm-pink-dark">
    <ul id="admin_menu">
        <li>
            @Html.ActionLink("Bekijk pasafspraken", "Index", "Appointments")
        </li>
        <li>
            @Html.ActionLink("Nieuwe beheerder", "Register", "Account")
        </li>
        <li>
            @Html.ActionLink("Nieuw product", "Create", "Products")
        </li>
        <li>
            @Html.ActionLink("Nieuw Blogartikel", "Create", "NewsArticles")
        </li>
        <li>
            @Html.ActionLink("Nieuwe Blogcategorie", "Create", "NewsCategories")
        </li>
        <li>
            @Html.ActionLink("Uitloggen", "LogOut", "Account")
        </li>
    </ul>
</div>