@{
    var AppointmentBannerTitle = "";
    var AppointmentBannerSmallTitle = "";
    var AppointmentBannerSmallTitle2 = "";

    var orderdList1 = "";
    var orderdList2 = "";
    var orderdList3 = "";
    var orderdList4 = "";

    if (ViewData.ContainsKey("AppointmentBannerTitle")) {
        AppointmentBannerTitle = ViewData["AppointmentBannerTitle"].ToString();
    }

    if (ViewData.ContainsKey("AppointmentBannerSmallTitle")) {
        AppointmentBannerSmallTitle = ViewData["AppointmentBannerSmallTitle"].ToString();
    }

    if (ViewData.ContainsKey("AppointmentBannerSmallTitle2")) {
        AppointmentBannerSmallTitle2 = ViewData["AppointmentBannerSmallTitle2"].ToString();
    }

    if (ViewData.ContainsKey("orderdList1")) {
        orderdList1 = ViewData["orderdList1"].ToString();
    }

    if (ViewData.ContainsKey("orderdList2")) {
        orderdList2 = ViewData["orderdList2"].ToString();
    }

    if (ViewData.ContainsKey("orderdList3")) {
        orderdList3 = ViewData["orderdList3"].ToString();
    }

    if (ViewData.ContainsKey("orderdList4")) {
        orderdList4 = ViewData["orderdList4"].ToString();
    }

}



<div class="text-banner">
    <h1 class="banner-bg-title-text hm-pink-light-text">@AppointmentBannerTitle</h1>
    <h2 class="banner-title-text">@AppointmentBannerSmallTitle</h2>
    <h2 class="banner-title-text2">@AppointmentBannerSmallTitle2</h2>
</div>

<div class="row">
    <div class="appointment-banner-container">
        <div class="appointment-banner-image-container">
            <img src="/images/mooi-meisje-3.jpg" />
            <div class="appointment-banner-text-outer-wrapper">
                <div class="appointment-banner-text-wrapper">
                    <div class="appointment-banner-image-text">
                        <span>bekijk video</span>
                    </div>
                    <div class="appointment-banner-card box-shadow">
                        <p>Hoe vind je de perfect outfit? Onze specialisten nemen echt de tijd voor je en helpen je met elke stap. Oneindig jurken/pakken passen? Geen probleem! Er kunnen zoveel mensen mee als jij wil.</p>
                    </div>
                </div>
                <div class="appointment-banner-counter-wrapper">
                    <div class="appointment-banner-image-counter-container">
                        <div class="appointment-banner-image-counter">1</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="pull-right home-list">
            <ol>
                <li class="active home-list-number-1">@orderdList1</li>
                <li class="home-list-number-2">@orderdList2</li>
                @if (ViewData.ContainsKey("orderdList3")) {
                    <li class="home-list-number-3">@orderdList3</li>
                }
                @if (ViewData.ContainsKey("orderdList4")) {
                    <li class="home-list-number-4">@orderdList4</li>
                }
            </ol>
        </div>
    </div>
</div>