<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] | Honeymoon Shop</title>
    <link rel="stylesheet" href="~/Content/bootstrap.css"/>
    <link rel="stylesheet" href="~/Content/site.css"/>
</head>
<body>
<header>
    <div id="header_top" class="hm-pink">
        <div id="choose_website">
            <a id="choice_website" class="hm-pink-dark-text active">Website</a>
            <a id="choice_webshop" class="hm-pink-dark-text">Webshop</a>
        </div>
        <div id="header_contact">
            <div class="phone-number">
                <strong>T</strong>
                <span>(010) 4126143</span>
            </div>
            <!-- <input type="search"/> -->
        </div>
    </div>
    <div id="header_nav">
        <div class="header-nav-logo">
            @Html.ActionLink("Honeymoon Shop", "Index", "Home", null, new { @class = "navbar-brand" })
        </div>
        <nav>
            <ul>
                <li class="active">@Html.ActionLink("Home", "Index", "Home")</li>
                <li>@Html.ActionLink("About", "About", "Home")</li>
                <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                <li><a class="hm-pink-dark make-appointment white-text" href="#">Afspraak maken</a></li>
            </ul>
        </nav>
    </div>
</header>

<div id="main_content" class="container body-content">
    @RenderBody()
</div>

<footer class="hm-pink">
    <div class="row" id="footer_bottom">
        <div class="col-md-4 col-sm-12">
            <h3 class="hm-pink-dark-text">Winkel</h3>
            <ul>
                <li><a href="#">Pagina 1</a></li>
                <li><a href="#">Pagina 2</a></li>
                <li><a href="#">Pagina 3</a></li>
                <li><a href="#">Pagina 4</a></li>
                <li><a href="#">Pagina 5</a></li>
                <li><a href="#">Pagina 1</a></li>
            </ul>
        </div>
        <div class="col-md-4 col-sm-12">
            <h3 class="hm-pink-dark-text">Service</h3>
            <ul>
                <li><a href="#">Pagina 1</a></li>
                <li><a href="#">Pagina 2</a></li>
                <li><a href="#">Pagina 3</a></li>
                <li><a href="#">Pagina 4</a></li>
                <li><a href="#">Pagina 5</a></li>
                <li><a href="#">Pagina 1</a></li>
            </ul>
        </div>
        <div class="col-md-4 col-sm-12">
            <h3 class="hm-pink-dark-text">Acties</h3>
            <ul>
                <li><a href="#">Pagina 1</a></li>
                <li><a href="#">Pagina 2</a></li>
                <li><a href="#">Pagina 3</a></li>
                <li><a href="#">Pagina 4</a></li>
                <li><a href="#">Pagina 5</a></li>
                <li><a href="#">Pagina 1</a></li>
            </ul>
        </div>
    </div>
    <p>&copy; 2016 - Beun IT</p>
</footer>

<environment names="Development">
    <script src="~/Scripts/jquery-1.9.1.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/site.js"></script>
</environment>

@RenderSection("scripts", required: false)
</body>
</html>
