@using Microsoft.AspNetCore.Mvc.Rendering
@model hhs_p6_webshop_project.Models.AppointmentModels.Appointment

@{
    ViewData["Title"] = "Bekijk afspraak";
}

<div class="row">
    <div class="col-md-4 col-md-offset-4 detailcard box-shadow">
        <div class="detailcard-head">
            <a asp-action="Index" class="detailcard-back"><</a>
            <a asp-action="Edit" asp-route-id="@Model.ID" class="detailcard-add">Bewerk</a>
            <h4>Afspraak</h4>
        </div>
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Confirmation)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Confirmation)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.DateMarried)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.DateMarried)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.AppointmentDateTime)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.AppointmentDateTime)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Mail)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Mail)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Phone)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Phone)
            </dd>
        </dl>
    </div>
</div>