@model IEnumerable<hhs_p6_webshop_project.Models.AppointmentModels.Appointment>

@{
    ViewData["Title"] = "Overzicht afspraken";
}

<h2>Overzicht afspraken</h2>

<p>
    <a asp-action="Create">Maak nieuwe afspraak</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Confirmation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateMarried)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AppointmentDateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Confirmation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateMarried)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AppointmentDateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Bewerk</a>
                <a asp-action="Details" asp-route-id="@item.ID">Bekijk</a>
                <a asp-action="Delete" asp-route-id="@item.ID">Verwijder</a>
            </td>
        </tr>
}
    </tbody>
</table>
