@using System.Threading.Tasks
@using hhs_p6_webshop_project.Models.NewsModels
@model hhs_p6_webshop_project.Models.NewsModels.NewsCategoryVM

@{
    ViewData["Title"] = "Details";
}

<h1>@Html.DisplayFor(model => model.NewsCategory.Name)</h1>



<div class="container">
    <div class="row">
        @{
            foreach (var na in Model.NewsArticles)
            {
                <div class="col-sm-12 col-md-4">
                    <div class="news-article">
                        <h2>@na.Name</h2>
                        <p>@na.Excerpt</p>
                        <img src="@na.ImagePath" />
                    </div>
                </div>
            }
        }
    </div>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.NewsCategory.NewsCategoryID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
