@model IEnumerable<hhs_p6_webshop_project.Models.ProductModels.PropertyValueCoupling>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>


@if (User.Identity.IsAuthenticated) {
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PropertyType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PropertyValue)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { @item.PropertyValue.PropertyValueId }) |
                @Html.ActionLink("Details", "Details", new { @item.PropertyValue.PropertyValueId }) |
                @Html.ActionLink("Delete", "Delete", new { @item.PropertyValue.PropertyValueId })
            </td>
        </tr>
}
    </tbody>
</table>
