@model hhs_p6_webshop_project.Models.ContactModels
@{
    ViewData["Title"] = "Contact";

    ViewData["ShowHomeBanner"] = false;
    ViewData["BannerPath"] = "/images/mooi-meisje-2.jpg";
    ViewData["HomeBannerBgTitle"] = "Bruid";
    ViewData["HomeBannerSmallTitle"] = "Op zoek naar de perfecte jurk";
    ViewData["HomeBannerBoldTitle"] = "Van begin tot eind kunnen wij jou helpen.";
}

<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <div class="row">
        @Html.LabelFor(model => model.FirstName, "First Name:")
        @Html.EditorFor(model => model.FirstName)
        @Html.ValidationMessageFor(model => model.FirstName)
    </div>
    <div class="row">
        @Html.LabelFor(model => model.LastName, "Last Name:")
        @Html.EditorFor(model => model.LastName)
        @Html.ValidationMessageFor(model => model.LastName)
    </div>
    <div class="row">
        @Html.LabelFor(model => model.Email, "Email:")
        @Html.EditorFor(model => model.Email)
        @Html.ValidationMessageFor(model => model.Email)
    </div>
    <div class="row">
        @Html.LabelFor(model => model.Comment, "Comments:")
        @Html.TextAreaFor(model => model.Comment)
        @Html.ValidationMessageFor(model => model.Comment)
    </div>
    <div class="buttons">
        <div class="row">
            <input type="submit" value="submit" />
            <input type="reset" value="reset" />
        </div>
    </div>
}