@model hhs_p6_webshop_project.Models.ProductModels.PropertyType

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>PropertyType</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AllowCustom)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AllowCustom)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Multiple)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Multiple)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Required)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Required)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            <a asp-action="Index">Back to List</a>
        </div>
    </form>
</div>
