@model hhs_p6_webshop_project.Models.ProductModels.PropertyType

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>PropertyType</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AllowCustom)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AllowCustom)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DataType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DataType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Multiple)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Multiple)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Required)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Required)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
